[project]
	description = Secureboot Signing Utilities
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dave Heller (hellerda)
[access "refs/for/refs/*"]
	read = group user/Dave Heller (hellerda)
	push = group user/Dave Heller (hellerda)
	label-Code-Review = -2..+2 group user/Dave Heller (hellerda)
	label-Verified = -1..+1 group user/Dave Heller (hellerda)
	rebase = group user/Dave Heller (hellerda)
	removeReviewer = group user/Dave Heller (hellerda)
	submit = group user/Dave Heller (hellerda)
[access "refs/heads/*"]
	read = group user/Dave Heller (hellerda)
	create = group user/Dave Heller (hellerda)
	push = +force group user/Dave Heller (hellerda)
	pushMerge = group user/Dave Heller (hellerda)
[access "refs/tags/*"]
	push = group user/Dave Heller (hellerda)
	push = +force group user/Dave Heller (hellerda)
